#FZU{
    width:100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;

}
ul{
    width:100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 0 20px 0;
    overflow: hidden;
    box-shadow: 0px 7px 7px -7px #5E5E5E;
}
#head1{
    display:inline;
    float:left;
    width: 20%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#lie{
    width: 75%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.lie1{
    height: 100%;
    display: inline;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
    font-size:19px;
    text-decoration: none;
    /*color: black;*/
}
/*???????*/
a:link{
    text-decoration:none;
}
a:hover {
    border: 20px;
    text-decoration: none;
}
a:visited{
    color:black;
}
a:-webkit-any-link{
    color: black;
}
#login a:-webkit-any-link{
    color: red;
}
#content{
    width: 80%;
    height: auto;
    margin: 90px auto 15px;
}
.miss{
    width: 65%;
    height: auto;
    text-align: right;
}
#content a{
    width: 100%;
    height: auto;
}
form{
    text-align: center;
}
.inf{
    margin: 20px 20px;
    padding:10px 100px;
    border-radius:15px;
    color: rgb(236,236,236);
}
#loginbutton{
    padding: 10px 50px;
    background-color:rgb(195,13,36);
    color: white;
    border: none;
    border-radius:15px;
}
.tip{
    text-align: center;
    color: rgb(176,176,176);
}
#bottom{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#bottom img{
    width: 100%;
    height: auto;
}


