
body{
    background-image: url(img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100px;
    font-family: 'ADsong';
}
#FZU{
    width:90%;
    height: auto;
    overflow: hidden;
}
ul{
    width:100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
#head1{
    display:inline;
    float:left;
    width: 25%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#lie{
    width: 70%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.lie1{
    height: 100%;
    display: inline;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    float: right;
    font-size:19px;
    text-decoration: none;
    /*color: black;*/
}
/*???????*/
a:link{
    text-decoration:none
}
a:hover {
    border: 20px,20px;
    text-decoration: none;
}
a:visited{
    color:black
}
a:-webkit-any-link{
    color: black;
}

/*title*/
#title{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
}
#title #img1{
    width:90%;
    height: auto;
    margin: 0 auto;
    padding:0 0 50px 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#title #img2{
    width:80%;
    height: auto;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*second*/
#second{
    width: 72%;
    height: auto;
    margin:0 auto;
    padding: 50px 0;
    overflow:hidden;
}
#second #img3{
    width: 60%;
    height: auto;
}
#second #img4{
    width: 35%;
    height: auto;
    padding:0 10px;
}

#third{
    width: 72%;
    height: auto;
    margin:0 auto;
    padding: 50px 0;
    overflow:hidden;
}
#third img{
    width: 100%;
    height: auto;
}

#forth,#fifth{
    width: 60%;
    height: auto;
    margin:0 auto;
    padding: 50px 0;
    overflow:hidden;
}
#forth img{
    width: 100%;
    height: auto;
    padding:40px 0;
}

#fifth p,#sixth p{
    text-align: center;
}
#fifth img,#sixth img{
    width: 100%;
    height: auto;
}

#sixth{
    width: 73%;
    height: auto;
    margin:0 auto;
    padding: 50px 0;
    overflow:hidden;
}

#seventh{
    width: 73%;
    height: auto;
    margin:0 auto;
    padding: 50px 0;
    overflow:hidden;
}

.out{
    width: 33%;
    height: auto;
    float: left;
    margin:0 auto;
}
.seven{
    width: 100%;
    height: auto;
}
.out p{
    text-align: right;
}



/*°åµ×*/
#bottom{
    width: 100%;
    height: auto;
    margin:100px auto 50px;
    overflow: hidden;
    background-color: #585858;
}

#bottom div{
    width: 28%;
    height: fit-content;
    float: right;
}
#bottom div p{
    color: white;
}

