{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学院研究成果</title>
    <link rel="stylesheet" href="{% static "css/academyfirst.css" %}" type="text/css" >
    <style>
        /*字体*/
        @font-face{
            font-family: Fangdeng;
            src: url("{% static "字体/方正细等线_GBK.ttf" %}");
        }
        @font-face{
            font-family: ADsong;
            src: url("{% static "字体/AdobeSongStd-Light.otf" %}");
        }
        body{
            font-family: 'ADsong';
        }
        #lie{
            font-family: 'Fangdeng';
        }
        #bottom{
            font-family: 'Fangdeng';
        }
    </style>
</head>
<body>
    <div di="FZU">
        <ul>
            <!--标题-->
            <a href="{% url 'first' %}">
                <li id="head1">FZU · AUL Studio</li>
            </a>
            <!--列表-->
            <div id="lie">
                <li class="lie1" id="login" ><a href="{% url 'login' %}">登录</a></li>
                <li class="lie1"><a href="">考试历年卷</a></li>
                <li class="lie1"><a href="">留言板</a></li>
                <li class="lie1"><a href="">出图素材</a></li>
                <li class="lie1"><a href="">摄影作品</a></li>
                <li class="lie1"><a href="{% url 'academyfirst' %}">研究成果</a></li>
                <li class="lie1" ><a href="{% url 'studentsecond' %}">学生优秀作品</a></li>
            </div>
        </ul>
    </div>
    <!--TITLE-->
    <div id="title">
        <img src="{% static "img/academyfirst/title/title.png" %}">
    </div>
    <!--SEARCH-->
    <div class="search">
        <div >
            <input type="text" class="sbutton">
            <input type="submit" value="submit" class="sbutton">
        </div>
        <ul class="searchul">
            <li>
                <a href="">
                    建筑
                </a>
            </li>
            <li>
                <a href="">
                    城乡规划
                </a>
            </li>
            <li>
                <a href="">
                    风景园林
                </a>
            </li>
            <li>
                <a href="">
                    数字化研究
                </a>
            </li>
            <li>
                <a href="">
                    人文地理
                </a>
            </li>
        </ul>
    </div>
    <!--U-->
    <div class="u">
        <div class="title1">
            <img src="{% static "img/academyfirst/title/title1.png" %}">
        </div>
        <div class="img">
            
            
            <div class="img3">
                <img src="{% static "img/academyfirst/img/13.png" %}">
            </div>
            <div class="img2">
                <img src="{% static "img/academyfirst/img/12.png" %}">
            </div>
            <div class="img1">
                <img src="{% static "img/academyfirst/img/11.jpg" %}">
            </div>
        </div>
    </div>
    <!--A-->
    <div class="u">
        <div class="title1 mor">
            <img src="{% static "img/academyfirst/title/title2.png" %}">
        </div>
        <div class="img">
            <div class="img3">
                <img src="{% static "img/academyfirst/img/23.jpg" %}">
            </div>
            <div class="img2">
                <img src="{% static "img/academyfirst/img/22.jpg" %}">
            </div>
            <div class="img1">
                <img src="{% static "img/academyfirst/img/21.jpg" %}">
            </div>
        </div>
    </div>
    <!--L-->
    <div class="u">
        <div class="title1 mor" >
            <img src="{% static "img/academyfirst/title/title3.png" %}">
        </div>
        <div class="img">
            <div class="img3">
                <img src="{% static "img/academyfirst/img/33.jpg" %}">
            </div>
            <div class="img2">
                <img src="{% static "img/academyfirst/img/32.jpg" %}">
            </div>
            <div class="img1">
                <img src="{% static "img/academyfirst/img/31.jpg" %}">
            </div>
        </div>
    </div>
    <!--LINK-->
    <div class="linke">
        <img src="{% static "img/academyfirst/title/link1.png" %}" alt="">
    </div>
    <!--bottom-->
    <div id="bottom">
        <div id="code">
        <p>
            ZIP CODE
        </p>
        <p>
            邮编
        </p>
        <p>
            <br/>
            350108
        </p>
        </div>
        <div id="addr">
            <p>
                ADRESS
            </p>
            <p>
                地址
            </p>
            <p>
                <br/>
                福建省福州市福州大学城乌龙江北大道2号
            </p>
        </div>
        <div id="tel">
            <p>
                TEL
            </p>
            <p>
                电话
            </p>
            <p>
                <br/>
                13015789080
            </p>
        </div>
    </div>
</body>
</html>