{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*字体*/
        @font-face{
            font-family: Fangdeng;
            src: url("{% static "字体/方正细等线_GBK.ttf" %}");
        }
        @font-face{
            font-family: ADsong;
            src: url("{% static "字体/AdobeSongStd-Light.otf" %}");
        }
        body{
            font-family: 'ADsong';
        }
        #lie{
            font-family: 'Fangdeng';
        }
        #bottom{
            font-family: 'Fangdeng';
        }
    </style>
</head>
<body>

</body>
</html>